@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090a;
    color: white;
}

/* cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* preencimento interno */
    padding: 48px;
    position: fixed;
    width: 100%;
}

button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    bottom: transparent;
    color: white;
    /* visualizçao */
    display: flex;
    align-items: center;
    gap: 12px;
    /* fonte */
    font-family: "inter";
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 300px 48px 48px 48px;
    position: relative;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;
}

.habits {
    width: 64px;
    height: 64px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: flex;
    margin-left: 32px;
    gap: 48px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;
    text-align: center;
    font-family: "Roboto Mono";
}

input {
    /* aparencia */
    appearance: none;
    /* prefixo para navegadores */
    -webkit-appearance: none;
    /* tamanho do input */
    width: 64px;
    height: 64px;
    /*bordas */
    border: 2px solid #27272A;
    border-radius: 8px;
    background: #18181B;
}

/* pesudo-selector */
input:checked {
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}

@media (max-width:570px) {
    button p {
        display: none;
    }
}